<html>
    <body>
        <p>
            <h2>Main Menu</h2>
        </p>
        <ul>
            <li><a href="/page1">Page One</a>
            <li><a href="/page2">Page Two</a>
        </ul>
        <p>
            Also View:
        </p>
        <ul>
            <li><a href="/admin/last20.html">View Last 20 Visits</a></li>
            <li><a href="/admin/last_url.html">Url Analysis for Page One</a></li>
            <li><a href="/admin/last_useragent.html">User-Agent Analysis for Server</a></li>
        </ul>
    </body>
</html>